{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    * {
      padding: 0;
      border: 0;
    }

    p {
      font-size: 23px;
      padding: 10px;
    }

    .info {
      display: flex;
    }

    #board {
      display: flex;
      flex-direction: column;
      width: 800px;
      height: 800px;
      flex-wrap: wrap;
    }

    .square {
      display: flex;
      border: solid 1px black;
      width: 32%;
      height: 33%;

    }

    #"0-0" {
      border-left: none;
    }
  </style>
</head>

<body>
  <div class="info">
    <p><strong>Player:</strong> {{ name }} </p>
    <p><strong>Room:</strong> {{ room }} </p>
    <p><strong>Victory:</strong> <p id="victory"> </p> </p>
    <p><strong>Round:</strong> <p id="round"> </p> </p>
    <p><strong>Symbol:</strong> <p id="symbol"> </p> </p>
    <p><strong>Turn:</strong> <p id="turn"> </p> </p>
    <p>
  </div>
  <div id="board">
    <div class="square" id="1"></div>
    <div class="square" id="2"></div>
    <div class="square" id="3"></div>
    <div class="square" id="4"></div>
    <div class="square" id="5"></div>
    <div class="square" id="6"></div>
    <div class="square" id="7"></div>
    <div class="square" id="8"></div>
    <div class="square" id="9"></div>
  </div>

  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


  <script src="{% static 'js/app.js' %}" type="text/javascript"> </script>
</body>

</html>
